<ion-header>

  <ion-navbar>
    <ion-title>Postavke</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list>
      <ion-item>
        <ion-label>Offline rad</ion-label>
        <ion-toggle formControlName="offline"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Server</ion-label>
        <ion-select formControlName="apiUrl">
          <ion-option *ngFor = "let api of apis" [value]="api.url"> {{api.name}} </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  <button ion-button icon-only (click)="home()">
    <ion-icon name="home"></ion-icon>
  </button>
</ion-content>